@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Doto", serif;
  font-weight: 900;
  font-size: 24px;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; 
}

body {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* GAME START BUTTON */
#game-start-btn {
  position: absolute;
  padding: 10px;
  border: 1.5px solid black;
  text-align: center;
  
  top: 50%;   
  left: 50%;  
  transform: translate(-50%, -50%);
}

/* GAME OVER END SCREEN */
#game-over-end-screen, #game-start-btn-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  
  top: 50%;   
  left: 50%;  
  transform: translate(-50%, -50%);
}

.game-over-msg-box {
  border: 1.5px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.game-over-score-title {
  font-size: 16px;
}

.game-over-title, .game-over-score {
  font-size: 48px;
}

.game-over-score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

#game-over-restart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.entities {
  width: 20px;
  height: 20px;
  background-color: black;
}

#food {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
}

#sprite {
  position: absolute;
  left: 0;
  top: 0;
}

.body-boxes {
  border: 1.5px solid black;
  width: 100%;
}

#score-box {
  border: none;
  display: flex;
  justify-content: space-between;
}

.score-box-items {
  padding: 10px;
  border: 1.5px solid black;
}

#score-box div {
  padding: 10px;
  display: grid;
  place-content: center;
}

#score-box-restart-btn svg, #game-over-restart-btn svg {
  width: 24px;
  height: 24px;
}

#game-box {
  height: 100%;
  position: relative;
}

#controls-box {
  border: none;
  height: 140px;
  display: flex;
  gap: 10px;
}

.control-buttons {
  width: 100%;
  height: 100%;
  border: 1.5px solid black;
  display: grid;
  place-content: center;
}

.control-buttons svg {
  width: 64px;
}

#btn-left svg {
  rotate: -90deg;
}

#btn-right svg {
  rotate: 90deg;
}

#btn-down svg {
  rotate: 180deg;
}